body {
  margin: 0;
  background: linear-gradient(to top, blue, black);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}

@font-face {
  font-family: "MTG";
  src: url("/MAGIC.TTF") format("truetype");
}

.App {
  min-height: 100vh;
  display: grid;
  grid-columns: 33vw 34vw 33vw;
  grid-rows: 33vh 34vh 33vh;
  text-align: center;
  font-family: "MTG";
  color: goldenrod;
}

.cardlist {
  list-style-type: none;
}

.placeholder{
  grid-row: 3 /span 1;
}

.title {
  background-color: blue
  padding: 40px;
}

.input {
  border: 2px solid goldenrod;
  outline: none;
}


.cardimg {
  height: 75vh;
  /*images appear justified right by default, so I'm fixing that here*/
  padding-right: 80px;
}

.logo {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-right: 40vw;
}

.moreinfo {
  padding-right: 80px;
}